<!--<div class="position-relative">
	<div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
		<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path>
		</svg>
	</div>
</div> -->

<footer class="bg-neutral-900 text-center text-white">
	<div class="container px-6 pt-6">

		<div class="grid md:grid-cols-2 lg:grid-cols-3">
			<div class="mb-6">
				<a class="p-0 text-white opacity-60 hover:opacity-80 focus:opacity-80 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400" href="#" data-te-nav-link-ref>A Propos</a>
			</div>
			<div class="mb-6">
				<a class="p-0 text-white opacity-60 hover:opacity-80 focus:opacity-80 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400" href="#" data-te-nav-link-ref>Contact</a>
			</div>

			<div class="mb-6">
				<a class="p-0 text-white opacity-60 hover:opacity-80 focus:opacity-80 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400" href="#" data-te-nav-link-ref>Mentions Légales</a>
			</div>
		</div>
	</div>

	<div class="p-4 text-center" style="background-color: rgba(0, 0, 0, 0.2)">
		© Ciné Tchat Studio  2023 - Tous droits réservés
	</div>
</footer>
