@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
// @import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://www.themoviedb.org/?languag;e=fr%27');

* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: rgb(4, 4, 58);
    --secondary--color: rgb(127, 120, 120);
}

body {
    background-color: var(--primary-color);
}


.inscription {
    margin-top: 75px;

    h2 {
        color: white;
    }

    .sizebox {
        width: 100%;
        height: 700px;

    }
}